[Desktop Entry]
Name=Penpot
Comment=Open-source prototyping and design platform
Icon=com.github.oliben67.penpot-tauri
Exec=penpot-tauri
Categories=Graphics;2DGraphics;VectorGraphics;
Type=Application
Terminal=false
StartupWMClass=penpot
