[Desktop Entry]
Name=Penpot
Comment=Open-source prototyping and design platform
Icon=com.github.oliben67.penpot-tauri
Exec=penpot-tauri
Categories=Graphics;Development;
Type=Application
Terminal=false
StartupWMClass=penpot
